*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#2D2424, #5C3D2E);
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgot-password-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 500px;
    background-color: #E0C097;
    padding: 22px 32px;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}
h1 {
    font-size: 40px;
    color: #B85C38;
    text-align: center;
    margin: 30px 0px;
}
p {
    font-size: 23px;
    color: white;
    text-align: center;
    width: 50%;
    padding: 0px 110px;
    margin: 0px 110px;
}
h2 {
    margin: 15px 0px;
    font-size: 30px;
}
input {
    padding: 10px 90px;
    background-color: #E0C097;
    border: none;
    border-bottom: 2px solid #B85C38;
    font-size: 20px;
    text-align: center;
    margin: 20px 0px;
}
input:focus {
    outline: none;
}
::placeholder {
    color: rgba(255, 255, 255, 0.541);
}
button {
    font-weight: 500;
    font-size: 20px;
    color: white;
    padding: 5px 80px;
    border: 2px solid white;
    background-color: #E0C097;
    border-radius: 5px;
    margin: 20px 0px;
    transition: 0.5s;
    cursor: pointer;
}
button:hover {
    background-color: white;
    color: black;
}
span {
    border: 2px solid rgb(250, 120, 120);
    background-color: rgb(241, 169, 169);
    color: red;
    padding: 7px;
    display: none;
}
