*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#2D2424, #5C3D2E);
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 90%;
    background-color: #E0C097;
    padding: 22px 40px;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}
.signup-panel .tab-header {
    height: 40px;
}
.signup-panel .tab-header > div {
    margin: 0px 150px;
    color: black;
    background-color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    text-transform: uppercase;
    outline: none;
}
.already-member-link {
    width: 50%;
}
.back-to-login {
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.back-to-login::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #B85C38;
    display: block;
    margin: auto;
}
.back-to-login:hover::after {
    width: 75%;
    transition: 0.7s;
}
img {
    width: 110%;
    height: 83%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    margin-bottom: 30px;
    text-align: center;
}
.teacher-signup-body {
    margin: 25px 15px;
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
}
.signup-form {
    text-align: center;
}
.teacher-input-container {
    display: flex;
    width: 100%;
    padding: 5px 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border-bottom: 2px solid #B85C38;
}
.teacher-input-container, .teacher-confirmation-body, .teacher-button {
    margin-bottom: 10px;
}
input, select {
    width: 100%;
    padding: 5px 10px;
    background-color: #E0C097;
    border: none;
    font-size: 15px;
}
input:focus, select:focus {
    outline: none;
}
.material-icons {
    color: white;
    padding: 10px 0px;
}
#confirmation_tick {
    width: 20px;
    height: 20px;
    border: none;
}
::placeholder {
    color: rgb(255, 255, 255);
}
label {
    font-size: 15px;
}
select:invalid {
    color: white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px #E0C097 inset !important;
}
button {
    margin: 0%;
    font-weight: 500;
    font-size: 15px;
    color: white;
    padding: 5px 80px;
    border: 2px solid white;
    background-color: #E0C097;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
    transition: 0.5s;
    cursor: pointer;
}
button:hover {
    background-color: white;
    color: black;
}
.error_msg {
    font-size: 11px;
    border: 2px solid rgb(250, 120, 120);
    background-color: rgb(241, 169, 169);
    color: red;
    padding: 10px;
    position: absolute;
    visibility: hidden;
}
#invalid_number {
    position: relative;
}

/*Changes for Student Sign up page*/

.student-signup-body {
    margin: 10px 15px;
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
}
.student-input-container {
    display: flex;
    width: 100%;
    padding: 0px 5px;
    margin: 3px 0;
    box-sizing: border-box;
    border-bottom: 2px solid #B85C38;
}
.student-input-container, .student-confirmation-body, .student-button {
    margin-bottom: 13px;
}
.student-picture {
    width: 105%;
    height: 83%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    margin-bottom: 30px;
    text-align: center;
}

/* Changes for different screen */
@media screen and (max-width: 1980px) and (min-width: 1400px) {

    /* For Teacher Panel */
    .signup-panel .tab-header {
        height: 60px;
    }
    .signup-panel .tab-header > div {
        margin: 0px 180px;
        font-size: 25px;
    }
    .back-to-login {
        font-size: 25px;
    }
    img {
        width: 105%;
        height: 100%;
    }
    .teacher-signup-body {
        margin: 25px 20px;
        margin-left: 10px;
    }
    .teacher-input-container {
        width: 130%;
    }
    .teacher-input-container, .teacher-confirmation-body, .teacher-button {
        margin-bottom: 25px;
    }
    input, select {
        width: 100%;
        font-size: 18px;
    }
    label {
        font-size: 18px;
    }
    button {
        font-size: 18px;
        margin-left: 60px;
        margin-top: 20px;
    }
    .error_msg {
        font-size: 13px;
    }

    /* For Student Panel */
    .student-signup-body {
        margin: 10px 20px;
    }
    .student-input-container {
        width: 120%;
        padding: 5px 5px;
        margin: 10px 0;
    }
    .student-input-container, .student-confirmation-body, .student-button {
        margin-bottom: 25px;
    }
    .student-picture {
        height: 93%;
    }
}