*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#2D2424, #5C3D2E);
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 93%;
    background-color: #E0C097;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.user-photo img {
    width: 90px;
    clip-path: circle();
}
h3 {
    font-size: 30px;
    color: #915e45;
}
.user-name {
    color: #814c31;
}
.side-panel {
    font-size: 14px;
    padding: 25px 0px;
    width: 25%;
    background-color: #E0C097;
    text-align: center;
}
.main-panel {
    width: 100%;
    background-color: white;
}
.tab-links {
    padding-top: 20px;
}
.side-panel .tab-links ul li {
    line-height: 45px;
    /* border-left: 1px solid transparent; */
}
.side-panel .tab-links ul ul {
    position: static;
}
.side-panel .tab-links ul ul li a {
    font-size: 12px;
}
.side-panel .tab-links ul ul li {
    line-height: 35px;
    /* display: none; */
}
.side-panel .tab-links ul li a {
    color: #814c31;
    width: 100%;
    padding: 0px 30px;
    /* border: 1px solid white; */
}
.side-panel .tab-links ul li:hover {
    background-color: #ebc390;
    border-left: 4px solid #915e45;
}
.material-icons {
    padding: 5px;
    vertical-align: middle;
    /* border: 1px solid white; */
    cursor: pointer;
}
.main-link {
    /* padding: 10px 0px; */
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    /* border-bottom: 1px solid white; */
    /* display: block; */
}
.responses {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
li {
    display: block;
}

/* Changes for different screen */
@media screen and (max-width: 1980px) and (min-width: 1400px) {

}