*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#2D2424, #5C3D2E);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 500px;
    background-color: #E0C097;
    padding: 22px 32px;
    overflow: hidden;
    border-radius: 10px;
}
.login-panel .tabs-header {
    height: 60px;
    display: flex;
    align-items: center;
}
.login-panel .tabs-header > div {
    width: calc(100% / 2);
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 22px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
}
.login-panel .tabs-header > div.active {
    background-color: white;
    color: black;
}
.login-panel .tab-body {
    position: relative;
    height: calc(100% - 60px);
    padding: 20px 30px;
}
.login-panel .tab-body img {
    width: 35%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
.login-panel .tab-body > div {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -200%;
    opacity: 0;
    margin-top: 15px;
    transform: scale(0.9);
    transition: opacity 500ms ease-in-out 0ms, transform 500ms ease-in-out 0ms;
}
.login-panel .tab-body > div.active {
    top: 0px;
    opacity: 1;
    transform: scale(1);
}
.vertical-line {
    border-left: 3px solid white;
    height: 415px;
}
::placeholder {
    color: white;
    font-size: 20px;
}
input {
    background-color: #E0C097;
    border: none;
    padding: 3px 0px;
    font-size: 18px;
    width: 90%;
}
input:focus {
    outline: none;
}
.signup-btn a {
    color: white;
    text-decoration: none;
}
.signup-btn a:hover {
    text-decoration: underline;
}
.forgot-password {
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.forgot-password:hover {
    text-decoration: underline;
}
button {
    margin: 0%;
    font-weight: 500;
    font-size: 15px;
    color: white;
    padding: 5px 80px;
    border: 2px solid white;
    background-color: #E0C097;
    border-radius: 5px;
    margin-left: 80px;
    margin-top: 35px;
    margin-bottom: 50px;
    transition: 0.5s;
    cursor: pointer;
}
button:hover {
    background-color: white;
    color: black;
}
.input-container {
    display: flex;
    margin-bottom: 20px;
    width: 120%;
    padding: 5px 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border-bottom: 2px solid #B85C38;
}
.teach-username, .stud-username {
    margin-top: 20px;
}
.icons {
    color: white;
    padding: 5px;
}
.teacher-visible-icon, .student-visible-icon {
    color: white;
    cursor: pointer;
    
}
.error-span {
    font-size: 13px;
    border: 2px solid rgb(250, 120, 120);
    background-color: rgb(241, 169, 169);
    color: red;
    padding: 10px;
    visibility: hidden;
}
