*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#2D2424, #5C3D2E);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-panel {
    border: 2px solid #E0C097;
    border-radius: 10px;
    background-color: #E0C097;
    width: 45%;
    height: 500px;
    display: flex;
    padding: 1% 3%;
    justify-content: space-between;
    align-items: center;
}
label {
    font-size: 20px;
    margin-bottom: 15px;
    color: white;
}
input {
    width: 100%;
    padding: 5px 5px;
    margin: 5px 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #B85C38;
    background-color: #E0C097;
}
.signup-btn {
    margin-top: 150px;
}
.signup-btn a {
    color: white;
    text-decoration: none;
}
.signup-btn a:hover {
    text-decoration: underline;
}
.vertical-line {
    border-left: 3px solid white;
    height: 450px;
}
.login-panel img {
    width: 40%;
    border-radius: 10px;
}
